<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nos Unimos</h1>
    <p>
      You have a new message of a new buyer <%= @name %> with email <%= @email %>.<br>
    </p>
    <p>
      Message:
    </p>
    <center>
      <%= @message %>
    </center>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
