<section class="page-indecator">
<div class="container">
  <h2 class="heading">Nosotros</h2>
  <!-- Breadcrumb pattern -->
  <!-- Default one color divider -->
  <div class="divider"></div>
</div>
</section>
<!-- end section show current page and breadcrumb -->
<section class="container">
<div class="row-fluid">
  <div class="about">
    <div class="col-sm-6">
      <img class="about-img animated fadeInUpStart" src="http://com.agroonline.s3.amazonaws.com/agroonline/about.jpg">
    </div>
    <div class="col-sm-6">
      <h2 class="heading-cascade heading-cascade--danger"><span class="heading-cascade__step">Nos Unimos</span> Quiénes somos</h2>
      <p class="p-null">Somos una empresa dedicada a unir a los productores de todo México, con productos como son Carnicos,Verdura,Frutas, etc. </p>
    </div><!-- end col -->
  </div>
  <!-- end about -->
</div>
<!-- end row -->
</section>
