
<div class="wrapContent">
  <div id="wrapWide" class="wrapWide">
    <div class="content">
      <section class="singlePage emptyPostFormatIcon emptyPostTitle emptyPostInfo">
        <article class="postContent">
          <div class="postTextArea">

            <div class="sc_content mainWrap">

              <section class="">
                <div class="container-fluid">
                  <div class=" sc_columns  sc_columns_2 sc_columns_indent">
                    <div class=" sc_columns_item  sc_columns_item_coun_1 odd first" >
                      <div  class="sc_image alignleft">
                        <a href="">
                          <img  src="http://com.agroonline.s3.amazonaws.com/agroonline/about.jpg" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class=" sc_columns_item  sc_columns_item_coun_2 even" >
                      <h2 class="sc_title sc_title_style_3 margin_bottom_25">La Historia</h2>
                      <div class="margin_bottom_50">
                        <p>
                          <strong>Establecido en 1982</strong>, nuestra granja es una comunidad sana situado en Adamswille. Vivimos una vida pacífica, compartida y creemos en cuerpo y mente sana. Navegar por nuestro sitio para aprender más de nuestra historia. Mira a través de nuestra tienda en línea para encontrar golosinas frescos de nuestra panadería orgánica, café orgánico y chocolate, así como los productos lácteos frescos. Le invitamos a que venga a visitarnos! Sólo tiene que colocar unas líneas cuando se desea llegar.</p>
                      </div>
                      <h2 class="sc_title sc_title_style_3 margin_bottom_25">¿Por Que elegir Nos Unimos?</h2>
                      <ul class="sc_list  sc_list_style_ul sc_list_style_1">
                        <li class="sc_list_item  odd first sc_list_marked_no">
                          <span>
                            Alta calidad de productos alimenticios.
                          </span>
                        </li>
                        <li class="sc_list_item  even sc_list_marked_no">
                          <span>
                            Productos Frescos.
                          </span>
                        </li>
                        <li class="sc_list_item  odd sc_list_marked_no">
                          <span>
                            Sin intermediarios, trato directo con el productor.
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>

              <section class="section_padding_top_70 with_border_bottom">
                <div class="container-fluid">
                  <h2 class="sc_title sc_title_normal sc_title_center margin_bottom_60">
                    ALGUNOS DE NUESTROS PRODUCTOS
                  </h2>
                  <div class="sc_columns sc_columns_3 sc_columns_indent margin_bottom_30">
                    <div class=" sc_columns_item sc_columns_item_coun_1 odd first">
                      <div class="sc_section sc_section_style_1">
                        <div  class="sc_image sc_image_style_1 margin_bottom_40">
                          <img src="http://com.agroonline.s3.amazonaws.com/agroonline/vector2.png" >
                        </div>
                        <h6 class="sc_title sc_title_style_2 sc_title_center">best quality products</h6>
                        <div class="sc_text sc_text_style_1">
                          <p>“Juices of fruits and vegetables are pure gifts from Mother Nature and the most natural way to heal your body.”</p>
                        </div>
                      </div>
                    </div>
                    <div class=" sc_columns_item  sc_columns_item_coun_2 colspan_2 even with_overflow" >
                      <div class="sc_skills  sc_skills_bar sc_skills_horizontal" data-type="bar" data-dir="horizontal">
                        <div class="sc_skills_item sc_skills_style_1 odd first">
                          <div class="sc_skills_count">
                            <div class="sc_skills_total" data-start="0" data-stop="55" data-step="1" data-max="100" data-speed="15" data-duration="825" data-ed="%">
                              <span>0%</span>
                            </div>
                          </div>
                        </div>
                        <div class="sc_skills_info">Semillas</div>
                        <div class="sc_skills_item sc_skills_style_1 even">
                          <div class="sc_skills_count">
                            <div class="sc_skills_total" data-start="0" data-stop="100" data-step="1" data-max="100" data-speed="16" data-duration="1600" data-ed="%">
                              <span>0%</span>
                            </div>
                          </div>
                        </div>
                        <div class="sc_skills_info">Carnes y Pollos</div>
                        <div class="sc_skills_item sc_skills_style_1 odd">
                          <div class="sc_skills_count">
                            <div class="sc_skills_total" data-start="0" data-stop="65" data-step="1" data-max="100" data-speed="26" data-duration="1690" data-ed="%">
                              <span>0%</span>
                            </div>
                          </div>
                        </div>
                        <div class="sc_skills_info">Pescados y Mariscos</div>
                        <div class="sc_skills_item sc_skills_style_1 even">
                          <div class="sc_skills_count">
                            <div class="sc_skills_total" data-start="0" data-stop="35" data-step="1" data-max="100" data-speed="31" data-duration="1085" data-ed="%">
                              <span>0%</span>
                            </div>
                          </div>
                        </div>
                        <div class="sc_skills_info">Frutas y Verduras</div>
                        <div class="sc_skills_item sc_skills_style_1 odd">
                          <div class="sc_skills_count">
                            <div class="sc_skills_total" data-start="0" data-stop="90" data-step="1" data-max="100" data-speed="20" data-duration="1800" data-ed="%">
                              <span>0%</span>
                            </div>
                          </div>
                        </div>
                        <div class="sc_skills_info">Legumbres</div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
