<section class="page-indecator">
<div class="container">
  <h2 class="heading">Nosotros</h2>
  <!-- Breadcrumb pattern -->
  <!-- Default one color divider -->
  <div class="divider"></div>
</div>
</section>
<!-- end section show current page and breadcrumb -->
<section class="container">
<div class="row-fluid">
  <div class="about">
    <div class="col-sm-6">
      <img class="about-img animated fadeInUpStart" src="http://com.agroonline.s3.amazonaws.com/agroonline/about.jpg">
    </div>
    <div class="col-sm-6">
      <h2 class="heading-cascade heading-cascade--danger"><span class="heading-cascade__step">High Professional Staff &amp;</span> Best Engineers Ever</h2>
      <p class="p-space">Nam auctor dapibus ante vel facilisis. Cras eget adipiscing nisi. Duis aliquet ligula non risus sollicitudin commodo. Donec ullamcorper lacinia turpis at aliquet. Cras consectetur fermentum erat, in placerat ligula pharetra eget. </p>
      <p class="p-null" Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam dolor nisi, fermentum at vulputate in, aliquam id justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam et accumsan ante, et consequat neque. Fusce quis molestie eros. </p>
    </div><!-- end col -->
  </div>
  <!-- end about -->
</div>
<!-- end row -->
</section>
