// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass";
$roboto-font-path: 'materialize/fonts/roboto/';
@import 'materialize/sass/materialize';
@import "font-awesome";

.parallax-container {
  height: 400px;
}

.margin-10 {
  margin: 5px !important;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@font-face {
  font-family: 'farm';
  src: font-url('AgroOnline-theme/font/Farm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo {
  float: left;
  margin-bottom: 13px;
  text-decoration: none;
  position: relative;
  z-index: 22;
}

.logo img {
  width: 195px;
}

.text-farm {
  font-family: 'farm';
}
