// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass";

@import 'bootstrap/dist/css/bootstrap';
@import 'font-awesome';
@import 'malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar';
@import 'AgroOnline-theme/css/z-nav/z-nav';
@import 'AgroOnline-theme/css/idangerous.swiper';
@import 'AgroOnline-theme/css/style';
@import 'AgroOnline-theme/css/touch';

@font-face {
  font-family: 'farm';
  src: font-url('AgroOnline-theme/font/Farm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.text-farm {
  font-family: 'farm';
}

.menu-item {
  font-size:20px !important;
}
