<div class="container">
  <div class="row">
    <h2 class="block-title block-title--top-larger">Categorias</h2>
    <div class="col m12">
      <div class="gallery-wrapper">
        <% @categories.each do | category | %>
          <div class="col m6">
            <div class="card horizontal">
              <div class="thumbnail">
                <% if category.s3_asset %>
                  <%= image_tag category.try(:s3_asset) %>
                <% end %>
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h5 class="gallery-item__heading"><%= category.name %></h5>
                  <%= link_to 'Mostrar', {:controller => "categories",:action=> "search",:id => "#{category.name}"},{ :class=> "btn btn-warning btn--decorated gallery-item__link"  }%>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
