<p>Hola <%= @resource.email %>!</p>
<p>Has solcitado un cambio de contrase単a. Puedes hacerlo en el siguiente Link.</p>

<p><%= link_to 'Cambiar Contrase単a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicito el cambio de contrase単a, por favor ignore este email.</p>
<p>Su contrase単a no sera cambiada hasta que acceda al link de arriba y cre una nueva.</p>
