<div class="woocommerce woocommerce-page">
<div id="wrap" class="wrap sideBarRight sideBarShow menuStyle1 menuSmartScrollShow blogStyleExcerpt bodyStyleWide menuStyleFixed visibleMenuDisplay logoImageStyle logoStyleBG">
		<div id="wrapBox" class="wrapBox">
			<div class="wrapContent">
				<div id="wrapWide" class="wrapWide">
					<div class="content">

						<section class="">
							<div class="container">
								<section class="post shop_mode_thumbs">
									<article class="post_content">
										<nav class="woocommerce-breadcrumb" >
											<a href="index.html">Home</a>&nbsp;&#47;&nbsp;Shop
										</nav>
										<h1 class="page-title">Shop</h1>
										<p class="woocommerce-result-count">
										Showing 1&ndash;10 of 14 results</p>
										<ul class="products">
											<li class="first product">
												<a href="shop_product.html">
													<span class="onsale">Sale!</span>
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="apetito1" />
													<h3>Apetito Organic Penne</h3>
													<span class="price">
														<del>
															<span class="amount">&pound;9.00</span>
														</del>
														<ins>
															<span class="amount">&pound;7.20</span>
														</ins>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="baby food-1" />
													<h3>Beech Nute Baby Food</h3>
													<span class="price">
														<span class="amount">&pound;5.00</span>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="15532101040" />
													<h3>Delallo Pasta</h3>
													<span class="price">
														<span class="amount">&pound;3.65</span>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
											<li class="last product">
												<a href="shop_product.html">
													<span class="onsale">Sale!</span>
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="15835-cafedirect-machu-picchu-organic-coffee-beans-a" />
													<h3>Espresso Roast Coffee Beans</h3>
													<span class="price">
														<del>
															<span class="amount">&pound;26.00</span>
														</del>
														<ins>
															<span class="amount">&pound;18.00</span>
														</ins>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
											<li class="first product">
												<a href="shop_product.html">
													<span class="onsale">Sale!</span>
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="NYfresh" />
													<h3>Full Cream Organic Milk</h3>
													<span class="price">
														<del>
														<span class="amount">&pound;6.70</span>
														</del>
														<ins>
														<span class="amount">&pound;5.20</span>
														</ins>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="GBR-07432-1" />
													<h3>Gerber Organic</h3>
													<span class="price">
														<span class="amount">&pound;4.50</span>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="Natural-whole-grain-bread" />
													<h3>Natural Whole-grain Bread</h3>
													<span class="price">
														<span class="amount">&pound;4.61</span>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
											<li class="last product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="mlk_11oz_prot_bal_PR" />
													<h3>Organic Balance Milk</h3>
													<span class="price">
														<span class="amount">&pound;6.60</span>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
											<li class="first product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="apetito2" />
													<h3>Organic Capellini</h3>
													<span class="price">
														<span class="amount">&pound;5.00</span>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
											<li class="product">
												<a href="shop_product.html">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/product-farm.jpeg" class="attachment-shop_catalog" alt="244319-Coffee_Espresso_500g_Large" />
													<h3>Organic Coffee Whole Beans</h3>
													<span class="price">
														<span class="amount">&pound;20.00</span>
													</span>
												</a>
												<a href="shop_product.html" class="button add_to_cart_button product_type_simple">Add to cart</a>
											</li>
										</ul>
										<nav class="woocommerce-pagination">
											<ul class='page-numbers'>
												<li>
													<span class='page-numbers current'>1</span>
												</li>
												<li>
													<a class='page-numbers' href='#'>2</a>
												</li>
												<li>
													<a class="next page-numbers" href="#">&rarr;</a>
												</li>
											</ul>
										</nav>
									</article>
								</section>
							</div>
						</section>

					</div>
					<div id="sidebar_main" class="widget_area sideBar">
						<aside class="widget-first widgetWrap widget_categories">
							<h4 class="title">Categories</h4>
							<ul>
								<li class="">
									<a href="#" title="2011 - 2016">Blog</a>
									<ul class='children'>
										<li class="">
											<a href="#" >Full width</a>
										</li>
										<li class="">
											<a href="#" >Post formats</a>
										</li>
									</ul>
								</li>
								<li class="">
									<a href="#" >Eating &amp; Cooking</a>
								</li>
								<li class="">
									<a href="#" >Healthy Farm Portfolio</a>
									<ul class='children'>
										<li class="">
											<a href="#" >Large size</a>
										</li>
										<li class="">
											<a href="#" >Medium size</a>
										</li>
										<li class="">
											<a href="#" >Small size</a>
										</li>
									</ul>
								</li>
								<li class="">
									<a href="#" >Home</a>
								</li>
								<li class="">
									<a href="#" >Recipe</a>
								</li>
								<li class="">
									<a href="#" title="2011 - 2016">Shortcodes</a>
								</li>
							</ul>
						</aside><aside class="widget-first widgetWrap widget_tag_cloud">
							<h4 class="title">Tags</h4>
							<div class="tagcloud">
								<a href='#' title='1 topic'>Audio</a>
								<a href='#' title='4 topics'>Brand</a>
								<a href='#' title='1 topic'>Brands</a>
								<a href='#' title='8 topics'>Food</a>
								<a href='#' title='3 topics'>Fresh</a>
								<a href='#' title='7 topics'>Lifestyle</a>
								<a href='#' title='1 topic'>New</a>
								<a href='#' title='12 topics'>Organic</a>
								<a href='#' title='1 topic'>People</a>
								<a href='#' title='1 topic'>Photo</a>
								<a href='#' title='8 topics'>Products</a>
							</div>
						</aside><aside class="widget-first widgetWrap widget_archive">
							<h4 class="title">Archives</h4>
							<ul>
								<li>
									<a href='#'>January 2015</a>&nbsp;(47)
								</li>
								<li>
									<a href='#'>November 2014</a>&nbsp;(4)
								</li>
								<li>
									<a href='#'>October 2014</a>&nbsp;(1)
								</li>
								<li>
									<a href='#'>June 2014</a>&nbsp;(1)
								</li>
								<li>
									<a href='#'>February 2014</a>&nbsp;(1)
								</li>
								<li>
									<a href='#'>January 2014</a>&nbsp;(18)
								</li>
							</ul>
						</aside><aside class="widget-first widgetWrap widget_calendar">
							<div id="calendar_wrap">
								<table>
									<caption>February 2016</caption>
									<thead>
										<tr>
											<th scope="col" title="Monday">M</th>
											<th scope="col" title="Tuesday">T</th>
											<th scope="col" title="Wednesday">W</th>
											<th scope="col" title="Thursday">T</th>
											<th scope="col" title="Friday">F</th>
											<th scope="col" title="Saturday">S</th>
											<th scope="col" title="Sunday">S</th>
										</tr>
									</thead>
									<tfoot>
									<tr>
										<td colspan="3" id="prev">
											<a href="#">&laquo; Jan</a>
										</td>
										<td class="pad">&nbsp;</td>
										<td colspan="3" id="next">
											<a href="#">Mar &raquo;</a>
										</td>
									</tr>
									</tfoot>
									<tbody>
										<tr>
											<td>1</td>
											<td>2</td>
											<td>3</td>
											<td>4</td>
											<td>5</td>
											<td>6</td>
											<td>7</td>
										</tr>
										<tr>
											<td>8</td>
											<td>9</td>
											<td id="today">10</td>
											<td>11</td>
											<td>12</td>
											<td>13</td>
											<td>14</td>
										</tr>
										<tr>
											<td>15</td>
											<td>16</td>
											<td>17</td>
											<td>18</td>
											<td>19</td>
											<td>20</td>
											<td>21</td>
										</tr>
										<tr>
											<td>22</td>
											<td>23</td>
											<td>24</td>
											<td>25</td>
											<td>26</td>
											<td>27</td>
											<td>28</td>
										</tr>
										<tr>
											<td>29</td>
											<td class="pad" colspan="6">&nbsp;</td>
										</tr>
									</tbody>
								</table>
							</div>
						</aside><aside class="widget-first widgetWrap widget_search">
							<form method="get" id="searchform" class="searchform" action="#">
								<div class="searchFormWrap">
									<div class="searchSubmit">
										<input class="sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_mini" type="submit" id="searchsubmit" value="Search" />
									</div>
									<div class="searchField">
										<input class="" type="search" name="s" value="" id="s" placeholder="Search &hellip;" />
									</div>
								</div>
							</form>
						</aside><aside class="widget-first widgetWrap widget_flickr">
							<h4 class="title">Flickr</h4>
							<div class="flickr_images">
								<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;flickr_display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08"></script>
							</div>
						</aside>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>
