<div class="single single-product woocommerce woocommerce-page">

	<div id="wrap" class="wrap sideBarRight sideBarShow menuStyle1 menuSmartScrollShow blogStyleExcerpt bodyStyleWide menuStyleFixed visibleMenuDisplay logoImageStyle logoStyleBG">
		<div id="wrapBox" class="wrapBox">

			<div class="wrapContent">
				<div id="wrapWide" class="wrapWide">
					<div class="content">

						<section class="">
							<div class="container">
								<section class="post shop_mode_thumbs">
									<article class="post_content">

										<div class="product">


											<span class="onsale">Oferta!</span>
											<div class="images">
												<a href="" class="woocommerce-main-image zoom" title="">
													<img src="http://com.agroonline.s3.amazonaws.com/agroonline/fresas-ecologicas.jpg" class="attachment-shop_single" alt="apetito1" title="apetito1" />
												</a>
												<div class="thumbnails columns-5">
													<a href="" class="zoom first" title="">
														<img src="http://com.agroonline.s3.amazonaws.com/agroonline/fresa180.jpg" class="attachment-shop_thumbnail" alt="0-massa-pene" title="0-massa-pene" />
													</a>
													<a href="" class="zoom" title="">
														<img src="http://com.agroonline.s3.amazonaws.com/agroonline/fresa180-1.jpg" class="attachment-shop_thumbnail" alt="apetito1" title="apetito1" />
													</a>
												</div>
											</div>

											<div class="summary entry-summary">
												<h1 class="product_title entry-title">Fresas ecologicas</h1>
												<div>
													<p class="price">
														<del>
														<span class="amount">$ 9.00</span>
														</del>
														<ins>
														<span class="amount">$ 7.20</span>
														</ins>
													</p>
												</div>
												<form class="cart" method="post" enctype='multipart/form-data'>
													<div class="quantity">
														<input type="number" step="1" min="1"  name="quantity" value="1" title="Qty" class="input-text qty text" size="4" />
													</div>
													<input type="hidden" name="add-to-cart" value="4015" />
													<button type="submit" class="single_add_to_cart_button button alt">Agregar</button>
												</form>
												<div class="product_meta">
													<span class="posted_in">
														Categorias:
														<a href="#" rel="tag">Organico</a>,
														<a href="#" rel="tag">Fruta</a>
													</span>
													<span class="product_id">Product ID:
														<span>4015</span>
													</span>
												</div>
											</div>


											<div class="woocommerce-tabs wc-tabs-wrapper sc_tabs">
												<ul class="tabs wc-tabs sc_tabs_titles">
													<li class="tab_names description_tab">
														<a href="#tab-description">Descripción</a>
													</li>
												</ul>
												<div class="panel entry-content wc-tab" id="tab-description">
													<h2>Descripción de Producto</h2>
													<div class="sc_section  sc_float_right sc_columns_1_2 margin_bottom_0">
														<div class="sc_skills  sc_skills_bar sc_skills_horizontal" data-type="bar" data-dir="horizontal">
															<div class="sc_skills_item sc_skills_style_1 odd first">
																<div class="sc_skills_count">
																	<div class="sc_skills_total" data-start="0" data-stop="98" data-step="1" data-max="100" data-speed="19" data-duration="1862" data-ed="%">
																		<span>0%</span>
																	</div>
																</div>
															</div>
															<div class="sc_skills_info">Frescura</div>
															<div class="sc_skills_item sc_skills_style_1 even">
																<div class="sc_skills_count">
																	<div class="sc_skills_total" data-start="0" data-stop="26" data-step="1" data-max="100" data-speed="39" data-duration="1014" data-ed="%">
																		<span>0%</span>
																	</div>
																</div>
															</div>
															<div class="sc_skills_info">Limpieza</div>
															<div class="sc_skills_item sc_skills_style_1 odd">
																<div class="sc_skills_count">
																	<div class="sc_skills_total" data-start="0" data-stop="87" data-step="1" data-max="100" data-speed="25" data-duration="2175" data-ed="%">
																		<span>0%</span>
																	</div>
																</div>
															</div>
															<div class="sc_skills_info">Dulzura</div>
														</div>
													</div>
													<p>
                            La fresa es un fruto de color rojo brillante, suculento y fragante que se obtiene de la planta que recibe su mismo nombre. En Occidente es considerada la "reina de las frutas". Además de poderse comer cruda se puede consumir como compota, mermelada,... Es empleada con fines medicinales ya que posee excelentes propiedades que ayudan a preservar la salud.
                          </p>
													<div class="sc_tabs sc_tabs_style_1 margin_top_20" data-active="0">
														<ul class="sc_tabs_titles">
															<li class="tab_names first">
																<a href="#sc_tab_10_1" class="theme_button" id="sc_tab_10_1_tab">Empaque y Embalaje</a>
															</li>
														</ul>
														<div class="sc_tabs_array">
															<div id="sc_tab_10_1" class="sc_tabs_content odd first">
																<div class="sc_section sc_float_right sc_columns_1_2 margin_bottom_0">
																	<ul class="sc_list sc_list_style_iconed">
																		<li class="sc_list_item  icon-ok-1 odd first sc_list_marked_no">
																			<span> Contener: Separando las fresas del medio ambiente y permitiendo manejarlas fácilmente.</span>
																		</li>
																		<li class="sc_list_item  icon-lock-open-alt even sc_list_marked_yes">
																			<span>Proteger: Manteniéndolas completamente separadas de factores externos que puedan afectarlas.</span>
																		</li>
																		<li class="sc_list_item  icon-rocket odd sc_list_marked_no">
																			<span>Conservar: La vida útil de la fresa durante el periodo de tiempo establecido para transporte y venta.</span>
																		</li>
																		<li class="sc_list_item  icon-briefcase even sc_list_marked_no">
																			<span>Vender: El empaque es atractivo y diferencia el producto, ayudándolo a su venta.</span>
																		</li>
																	</ul>
																</div>
																<p>
                                  <b>TRANSPORTE</b><br>
                                  El transporte aéreo resulta necesario para la movilización de productos perecederos que exigen velocidad en su desplazamiento.
                                  Este modo de transporte ofrece una serie de ventajas como la rapidez en la entrega, una mayor cobertura geográfica y mayores frecuencias de transporte.
                                </p>
																<blockquote class="sc_quote sc_quote_style_1">
																	<p>
                                    "La agricultura se moderniza y su reconversión es inminente. Es tiempo de oportunidades."
                                  </p>
																</blockquote>
															</div>
														</div>
													</div>

									</article>
								</section>
							</div>
						</section>

					</div>
          <div id="sidebar_main" class="widget_area sideBar">
            <aside class="widget-first widgetWrap widget_search">
              <form method="get" id="searchform" class="searchform" action="#">
                <div class="searchFormWrap">
                  <div class="searchSubmit">
                    <input class="sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_mini" type="submit" id="searchsubmit" value="Busqueda" />
                  </div>
                  <div class="searchField">
                    <input class="" type="search" name="s" value="" id="s" placeholder="Busqueda &hellip;" />
                  </div>
                </div>
              </form>
            </aside>
            <aside class="widget-first widgetWrap widget_tag_cloud">
              <h4 class="title">Tags</h4>
              <div class="tagcloud">
                <a href='#' title='1 topic'>Carne</a>
                <a href='#' title='4 topics'>Manzanas</a>
                <a href='#' title='1 topic'>Aguacate</a>
                <a href='#' title='8 topics'>Res</a>
                <a href='#' title='3 topics'>Pescado</a>
                <a href='#' title='7 topics'>Platana</a>
                <a href='#' title='1 topic'>Mango</a>
                <a href='#' title='12 topics'>Caña</a>
                <a href='#' title='1 topic'>Pollo</a>
              </div>
            </aside>
          </div>
				</div>
			</div>
    </div>
  </div>
</div>
